---
import astroLogo from '../assets/astro.svg'
import background from '../assets/background.svg'
import fixMyCard from '../assets/fix-my-card.jpg'

import DynamicImage from '../components/DynamicImage.jsx';

---

<div id="container">
  <h1>Fix My Card</h1>
  <img id="fixMyCard" src={fixMyCard.src} alt="" fetchpriority="high" />
  <DynamicImage client:load />
  <!--<img id="data" src={data ? data![0]?.src : ''} alt="" fetchpriority="high" />-->
  <main>
    <section id="hero">
      <a href="https://astro.build"
        ><img
          src={astroLogo.src}
          width="115"
          height="48"
          alt="Astro Homepage"
        /></a
      >
      <h1>
        To get started, open the <code><pre>src/pages</pre></code> directory in your
        project.
      </h1>
    </section>
  </main>
</div>
