---
import Header from '../components/header.component.astro'
---

<!doctype html>
<html lang="en" class="w-full h-full overflow-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Fix my card</title>
  </head>
  <body class="m-0 w-full h-full overflow-hidden">
    <Header />
    <div class="mt-20 overflow-y-auto h-[calc(100%-80px)]">
      <slot />
    </div>
  </body>
</html>
