---
import Header from '../components/header/header.component.astro'
import Footer from '../components/footer.component.astro'
import { ClientRouter } from 'astro:transitions'
---

<!doctype html>
<html lang="fr" class="w-full h-full overflow-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Restauration professionnelle de cartes Pokémon : nettoyage, retouche, correction des dégâts et finition experte pour redonner éclat, valeur et authenticité à vos cartes de collection. Découvrez nos prestations et nos réalisations."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Fix my card</title>
    <ClientRouter />
  </head>
  <body class="m-0 w-full h-full overflow-hidden">
    <Header transition:persist />
    <div class="overflow-y-auto h-[calc(100%-64px)]">
      <slot />
      <Footer transition:persist />
    </div>
  </body>
</html>
